#root {
  font-family: "Poppins", sans-serif;
}

/* Homepage */
.home-section-1 {
  margin-top: 0px;
  background-color: #f2ebe9;
  margin-bottom: -27px;
}

.home-section-1 h1 {
  margin-top: 75px;
  margin-left: 150px;
  font-size: 45px;
  color: #264143;
  line-height: 1.1;
}
.image-group-home {
  margin-left: -310px;
  margin-top: 50px;
}

.homepage-header {
  display: flex;
  flex-direction: row;
}

.home-section-2 h1 {
  background-color: #5b64cf;
  color: white;
  text-align: center;
  height: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 400px;
  padding-left: 400px;
}

.text-community {
  margin-top: 10px;
  line-height: 1.1;
}

.button-homepage {
  display: flex;
  flex-direction: column;

  margin-top: 80px;
  margin-left: 150px;
}

.button-home-margin {
  margin-bottom: 20px;
}

.home-section-3 {
  height: 400px;
}

.icon-heart {
  margin-top: 30px;
}

.button-about {
  background-color: #f7e38d;
  color: #5b64cf;
  font-size: 15px;
  font-weight: bold;
}

.container-section-3 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 60px;
}

.box-3 {
  width: 400px;
  text-align: center;
}

.box-3 h2 {
  margin-bottom: 4px;
}

.image-reading-home {
  margin-top: 0px;
}

.position-margin {
  margin-top: 0px;
}

/* Footer */

.section-footer {
  margin-top: 300px;
  background-color: #eddcd9;
  color: grey;
  height: 150px;
}

.container-footer {
  display: flex;
  justify-content: space-around;
}

.container-footer p {
  padding-top: 20px;
  font-size: 14px;
}

.footer-about-follow {
  text-decoration: none;
  color: grey;
}
.positioning-about-follow {
  padding-top: 30px;
}

.navbar-section-outer {
  height: 80px;
  background-color: #eddcd9;
}

.navbar-section-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-comp-style {
  text-decoration: none;
  font-size: 13px;
  color: #264143;
  margin-left: 30px;
  margin-top: 200px;
}

.style-logo {
  margin-left: 270px;
  padding-top: 15px;
}

.resource-section{
  height: 250px;

}
